
body{
    background-color: rgba(0, 0, 0, 1);
}
.row {
    margin-top: 25vh;
}

h1{
    margin-top: 0;
    display: block;
    overflow-wrap: break-word;
}

#copy-btn{
    background-color: #a10d95;
}

#create-btn{
    background-color: #a10d95;
}


@media (max-width:600px){

    h1{
        font-size:20px;
    
    }
}